extends _layout

block content

  div(class="docs-wrapper")
    include _menu
    
    div( class="docs-content")
      div( class="container")
        article( class="" id="")
          h2= doc.name
          h3 Overview

          p= doc.description

          h3 Parameters

            table(class="table")
              thead
                tr
                  th(scope="col") #
                  th(scope="col") Name
                  th(scope="col") Type
                  th(scope="col") Description
              tbody
                each val, index in doc.params
                  tr
                    th(scope="row")= index+1
                    td= val.name
                    td= val.type
                    td= val.description
                tr  
                  th =>
                  td Returns
                  td= doc.return
                  td

          h3 Examples