
div(id="docs-sidebar" class="docs-sidebar sidebar-visible")

  div(class="form-group")
    input(type="text" class="form-control" placeholder="Search Method..." aria-label="Search Method..." aria-describedby="inputGroup-sizing-sm" id="search")

  ul(class="list-group")
    li(class="list-group-item nav-item" id="index")
      a(class=name === 'Introduction' ? "nav-link active" : "nav-link" href= root + 'index.html')
        //- span( class="theme-icon-holder mr-2")
        //-   i( class="fas fa-map-signs") 
        | Introduction
    li(class="list-group-item nav-item" id="installation")
      a(class=name === 'Installation' ? "nav-link active" : "nav-link" href= root + 'installation.html')
        //- span( class="theme-icon-holder mr-2")
        //-   i( class="fas fa-arrow-down") 
        | Installation
    li(class="list-group-item nav-item") Documentation
      mixin menu(docTree, root, docFolder)
        ul(class="list-group")
          each val, index in docTree
            if val.path
              li(class="list-group-item nav-item" id= val.path)
                if val.params
                  a(href = root + docFolder + val.path + '.html' class = pageName === val.path ? "nav-link active" : "nav-link")= index
                else
                  = index
                  +menu(val, root, docFolder)

      +menu(docTree, root, docFolder)

    li(class="list-group-item nav-item") Examples
      ul(class="list-group")
        each category, key in examplesMenu
          li( class='list-group-item nav-item')= key 
            ul(class="list-group")
              each example in category
                li( class='list-group-item nav-item' id= example.id)
                  a( href=root + examplesFolder + example.htmlPath, target='_self' class=name === example.id ? "nav-link active" : "nav-link")= example.name
    li(class="list-group-item nav-item" id="license")
      a(class=name === 'License' ? "nav-link active" : "nav-link" href= root + 'license.html')
        //- span( class="theme-icon-holder mr-2")
        //-   i( class="fas fa-arrow-down") 
        | License
